.card {
    width: 10%;
}

.card-group {
    gap: 2em;
    width: 90%;
    margin: auto
}

@media screen and (max-width: 680px) {
    .card {
        width: 100%;
    }
    .card-group {
        gap: 0em;
        width: 100%;
        margin: auto;
    }
    
}